In [1]:
message:str="Hello. I am learning python programming with type";
print(message);

Hello. I am learning python programming with type

In [2]:
newMessage:str="I have experience with Python but it has got rusty";
print(newMessage);
newMessage:str="Lets get started";
print(newMessage)

I have experience with Python but it has got rusty
Lets get started

In [1]:
message="Using single quotes ' inside double quotes without breaking logic";
secondMessage='Using double quotes "" inside single quotes wihtout breaking logic';
thirdNessage="Using double quotes"inside double quotes will cause error";

SyntaxError: unterminated string literal (detected at line 3) (1339755950.py, line 3)

In [3]:
name:str="maAz kHan";
print(name.title());
print(name.upper());
print(name.lower());

Maaz Khan
MAAZ KHAN
maaz khan

In [7]:
firstName:str="Maaz";
lastName:str="Khan";
fullName:str=f"{firstName} {lastName}";
print(fullName);
print(f"Hello, {fullName}!");

greetings:str=f"Hello, {fullName.upper()}";
print(greetings);

Maaz Khan
Hello, Maaz Khan!
Hello, MAAZ KHAN

In [8]:
print("Languages:\n\tPython\n\tTypeScript")

Languages:
	Python
	TypeScript

In [10]:
lang:str="  Python  ";
print(lang);
print(lang.rstrip());
print(lang.lstrip());
print(lang.strip());

  Python
  Python
Python
Python

In [12]:
url:str="https://mmaazkhanhere.vercel.app";
print(url.removeprefix('https://'));

mmaazkhanhere.vercel.app

In [16]:
name:str="Maaz"
personalMessage:str=f"Hello {name}, how Python joureny is going on?";
print(personalMessage);

author:str="James"
quote="Life becomes so overwhelming when you are sad";
print(f'{author} once said, "{quote}"');

Hello Maaz, how Python joureny is going on?
James once said, "Life becomes so overwhelming when you are sad"

In [17]:
universeAge:int=140_000_000;
print(universeAge);

140000000

In [19]:
x,y,z=0,'maaz',5;
print(x,y,z)

0 maaz 5

In [1]:
favoriteNumber:int=21;
print(f"My favorite number is {favoriteNumber}");

My favorite number is 21

In [3]:
bicycles:[str]=["trek","cannondable","redline","specialised"];
print(bicycles);
print(bicycles[2]);
print(bicycles[1].title());
print(bicycles[-1]); #print the last element of bicycle list
print(bicycles[-2]); #prints the second last element of bicycle list

print(f"My first bicycle was a {bicycles[2].title()}");

['trek', 'cannondable', 'redline', 'specialised']
redline
Cannondable
specialised
redline
My first bicycle was a Redline

In [4]:
favoriteMovies:[str]=["Batman","Past Lives","John Wick","Silent Voice"];
print(favoriteMovies);
favoriteMovies[2]="Ip Man";
print(favoriteMovies);
favoriteMovies.append("John Wick");
print(favoriteMovies);

['Batman', 'Past Lives', 'John Wick', 'Silent Voice']
['Batman', 'Past Lives', 'Ip Man', 'Silent Voice']
['Batman', 'Past Lives', 'Ip Man', 'Silent Voice', 'John Wick']

In [9]:
carModelsInPakistan=[];
print(carModelsInPakistan);

carModelsInPakistan.append('suzuki');
carModelsInPakistan.append('honda');
carModelsInPakistan.append('toyota');
carModelsInPakistan.append('kia');
carModelsInPakistan.append('hyundai');

print("Unsorted: ",carModelsInPakistan);

print("Temproary Sorted: ",sorted(carModelsInPakistan));
print("After temproary sorted: ",carModelsInPakistan);

carModelsInPakistan.sort();
print("Premanently Sorted: ",carModelsInPakistan);

carModelsInPakistan.sort(reverse=True)
print("Permanently Reverse Sorted: ",carModelsInPakistan);

carModelsInPakistan.insert(0,'audi');
print(carModelsInPakistan);

print("Length of list: ",len(carModelsInPakistan));

del carModelsInPakistan[1];
print(carModelsInPakistan);

removedCar=carModelsInPakistan.pop();
print(removedCar);
print(carModelsInPakistan);

firstOwned=carModelsInPakistan.pop(2);
print(f"The first car my family owned was {firstOwned}");
print(carModelsInPakistan);

tooExpensive:str='audi'
carModelsInPakistan.remove(tooExpensive);
print(carModelsInPakistan);
print(f"{tooExpensive.title()} is quite expensive in Pakistan");

[]
Unsorted:  ['suzuki', 'honda', 'toyota', 'kia', 'hyundai']
Temproary Sorted:  ['honda', 'hyundai', 'kia', 'suzuki', 'toyota']
After temproary sorted:  ['suzuki', 'honda', 'toyota', 'kia', 'hyundai']
Premanently Sorted:  ['honda', 'hyundai', 'kia', 'suzuki', 'toyota']
Permanently Reverse Sorted:  ['toyota', 'suzuki', 'kia', 'hyundai', 'honda']
['audi', 'toyota', 'suzuki', 'kia', 'hyundai', 'honda']
Length of list:  6
['audi', 'suzuki', 'kia', 'hyundai', 'honda']
honda
['audi', 'suzuki', 'kia', 'hyundai']
The first car my family owned was kia
['audi', 'suzuki', 'hyundai']
['suzuki', 'hyundai']
Audi is quite expensive in Pakistan

In [13]:
#Exercise 3.8

placeToVisit=["Lisbon","Melbourne","Kashmir",'Makkah','Sydney','Manchaster'];
print('Original Order: ',placeToVisit);
sorted(placeToVisit)
print("Temproary Sorted: ",sorted(placeToVisit));
print("After sortion: ",placeToVisit);
print("Reverse Temproary Sorted: ",reversed(placeToVisit));
print("After sortion: ",placeToVisit);
placeToVisit.sort();
print("Permanent Sorted: ",placeToVisit);
placeToVisit.reverse();
print("Permanent Sorted Reverse: ",placeToVisit);

Original Order:  ['Lisbon', 'Melbourne', 'Kashmir', 'Makkah', 'Sydney', 'Manchaster']
Temproary Sorted:  ['Kashmir', 'Lisbon', 'Makkah', 'Manchaster', 'Melbourne', 'Sydney']
After sortion:  ['Lisbon', 'Melbourne', 'Kashmir', 'Makkah', 'Sydney', 'Manchaster']
Reverse Temproary Sorted:  <list_reverseiterator object at 0x000002277D168C70>
After sortion:  ['Lisbon', 'Melbourne', 'Kashmir', 'Makkah', 'Sydney', 'Manchaster']
Permanent Sorted:  ['Kashmir', 'Lisbon', 'Makkah', 'Manchaster', 'Melbourne', 'Sydney']
Permanent Sorted Reverse:  ['Sydney', 'Melbourne', 'Manchaster', 'Makkah', 'Lisbon', 'Kashmir']

In [14]:
magicians=['alice','david','carolina'];
for i in magicians:
    print('Hello ',i);

Hello  alice
Hello  david
Hello  carolina

In [18]:
sports=['football','cricket','basketball','volleyball'];
print("Sports that I like to play and watch: ")
for sport in sports:
    print(f"\t {sport}");

Sports that I like to play and watch:
	 football
	 cricket
	 basketball
	 volleyball

In [20]:
#Exercise 4-1
pizzas=['Chicken Tikka','New Yorker Special', 'Cheese Explode'];
for pizza in pizzas:
    print(f"I like {pizza}");
print("How much you like pizza?");

I like Chicken Tikka
I like New Yorker Special
I like Cheese Explode
How much you like pizza?

In [2]:
print('Table of 2');
for value in range(1,11):
    print(f'2 x {value}= {2*value}');

Table of 2
2 x 1= 2
2 x 2= 4
2 x 3= 6
2 x 4= 8
2 x 5= 10
2 x 6= 12
2 x 7= 14
2 x 8= 16
2 x 9= 18
2 x 10= 20

In [3]:
print('Table of 14');

for value in range(11):
    print(f'14 x {value} = {value*14} ')

Table of 14
14 x 0 = 0
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140

In [10]:
numbers = list(range(1,6));
print(numbers);
evenNumbers=list(range(2,11,2));
print(evenNumbers);

squares=[];
for value in range (1,11):
    square=value**2;
    squares.append(square);
print(squares);

sqaures=[value**2 for value in range(1,11)]; #list comprehension
print(square);

numbers=[1,5,8,2,4,12,3];
print('List: ',numbers);
print('Minimum: ',min(numbers));
print('Maximum: ',max(numbers));
print('Sum of numbers: ',sum(numbers));

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
100
List:  [1, 5, 8, 2, 4, 12, 3]
Minimum:  1
Maximum:  12
Sum of numbers:  35

In [17]:
# Exercise 4-3

for number in range(1,20):
    print(number);

numbers=[];
for million in range(1,1000000):
    numbers.append(million);

print(min(numbers));
print(max(numbers));
print(sum(numbers));

oddNumbers=list(range(1,10,2));
print(oddNumbers);

cubes=[];
for number in range(1,11):
    cubes.append(number**3);
print(cubes);

square=[number**2 for number in range(1,11)];
print(square);

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
1
999999
499999500000
[1, 3, 5, 7, 9]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
footballClubs : [str] = ["Manchaster United","Real Madrid","Barcelona","Bayern Munich"];
print(f"Football Clubs: {footballClubs}");
print(f"First 2 clubs: {footballClubs[0:2]}");
print(f"last 2 clubs: {footballClubs[2:4]}");
print(f"First 3 clubs: {footballClubs[:3]}");
print(f"The last club: {footballClubs[3:]}");
print(f"Another way for last club: {footballClubs[-1]}");

for club in footballClubs[:2]:
    print(club.upper());

europeanClubs=footballClubs[:];
print("European Clubs: ",europeanClubs);

Football Clubs: ['Manchaster United', 'Real Madrid', 'Barcelona', 'Bayern Munich']
First 2 clubs: ['Manchaster United', 'Real Madrid']
last 2 clubs: ['Barcelona', 'Bayern Munich']
First 3 clubs: ['Manchaster United', 'Real Madrid', 'Barcelona']
The last club: ['Bayern Munich']
Another way for last club: Bayern Munich
MANCHASTER UNITED
REAL MADRID
European Clubs:  ['Manchaster United', 'Real Madrid', 'Barcelona', 'Bayern Munich']

In [24]:
dimensions=(250,200) #tuple
print(dimensions);
print(dimensions[0]);
dimensions[0]=230;
print(dimensions);

(250, 200)
250

TypeError: 'tuple' object does not support item assignment

In [26]:
dimension=(230,200); #can assign new value but cannot change value
print(dimensions);

(250, 200)

In [25]:
myTuple=(200,330,550);
for tup in myTuple:
    print(tup);

200
330
550