In [ ]:
#using python as calculator
num1 : int = 5;
num2 : int = 7;
result : float = num1 + num2;
print(f"Sum of {num1} and {num2} is {result}")

Sum of 5 and 7 is 12

In [ ]:
#the result of / is always float while // is used for floor division
result = num1 / num1;
print(result)
print(type(result))
result = num1 // num1
print(f"Floor division: {result}")
print(f"Type of floor division : {type(result)}")

1.0
<class 'float'>
Floor division: 1
Type of floor division : <class 'int'>

In [ ]:
#there is support for mixed type operands operation
result = 14.5 + 2 / 5.6
print(result)
print(round(result))

14.857142857142858
15

In [ ]:
#python also support Decimals, Fraction, complex number etc
from decimal import *
result = Decimal(1) / Decimal(7)
result

Decimal('0.1428571428571428571428571429')

In [ ]:
from fractions import *
result = Fraction(16, 10)
result

Fraction(8, 5)

In [ ]:
#arithmetic operation on strings
firstName : str = "Maaz"
lastName : str = "Khan"
name : str = firstName + lastName;
print(name);
print(firstName * 2 + lastName)

# print(firstName - lastName) #unsupported
# print(firstName - lastName) #unsupported

MaazKhan
MaazMaazKhan

In [ ]:
#two or more string literals will be concatenated
print('Maaz'" Khan")

#helpful when breaking long strings
text : str = ("Multiple sentences "
              "written in different lines "
              "supported by Python")

#text = "Multiple sentences "
#             "written in different lines "
#              "supported by Python"
#will given 'unexpected indent' error


print(text)

Maaz Khan
Multiple sentences written in different lines supported by Python

In [ ]:
#this only work with variables
#print(firstName "Khan") #syntax error

# but will work when use '+' operand
print(firstName + 'Khan')

MaazKhan

In [ ]:
#strings can be indexed with first character starting from index 0
print(name)
print(f"First character: {name[0]}")
print(f"Last character: {name[-1]}")
print(f"3 and 4 character: {name[3:5]}") #3 included and 5 excluded
print(f"First two character: {name[:2]}") #2 excluded

#out of bonded index will give error but can be handled graceful when slicing
# print(name[42]) #out of range error
print(name[:42])

MaazKhan
First character: M
Last character: n
3 and 4 character: zK
First two character: Ma

In [ ]:
from typing import List
square : List[int] = [1, 4, 9, 16, 25];
print(square)
print(square + [36, 42])

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36, 42]

In [ ]:
#new items can be added at the end of the list using append method
print(square)
square.append(64)
print(square)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 64]

In [ ]:
#it is possible to nest list within a list

cube : List[str] = [1, 8, 27, 64, 125]

powers : List[List[int]] = [square, cube]
print(powers)

[[1, 4, 9, 16, 25], [1, 8, 27, 64, 125]]

In [ ]:
#if two different types is used, Union is used
from typing import Union
number : List[str] = ['1', '2', '3', '4', '5'];
#powers : List[List[str], List[int]] = [number, square] #will give type error
powers : List[Union[List[str], List[int]]] = [number, square];
print(powers);

[['1', '2', '3', '4', '5'], [1, 4, 9, 16, 25]]

### Loops in Python

In [ ]:
#if loop

x : int = int(input("Please enter an integer: "));
if(x%2==0):
  print(f"{x} is even number")
else:
  print(f"{x} is odd number")

Please enter an integer: 4
4 is even number

In [ ]:
#if elif loop

grade : int = int(input("Please enter your grade: "));
if(grade >= 80):
  print("Your grade is A");
elif(grade >= 70 and grade < 80): #70 included and 80 excluded
  print("Your grade is B")
elif(grade >= 50 and grade < 70):
  print("Your grade is C")
else:
  print("You have failed")

Please enter your grade: 40
You have failed

In [ ]:
#for statement
for i in range(1,10): #1 included and 10 excluded
  print(f"2 x {i} = {i*2}")

print(f"Domesticated animals: ")
for animal in ['cat', 'dog', 'pigeon', 'chicken']: #length of loop will be that
                                                    #of the array
  print(animal)

print("Characters in my name are:")
for word in 'MaazKhan':
  print(f"{word}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
Domesticated animals:
cat
dog
pigeon
chicken
Characters in my name are:
M
a
a
z
K
h
a
n

In [ ]:
#range function can also be used to create lists
number : List[int] = list(range(1,10));
print(number)
negative_even_numbers : List[int] = list(range(0, -10, -2)) #from 0 to -10 (10 excluded) with -2 step
print(negative_even_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, -2, -4, -6, -8]

In [ ]:
# strange behacior when just range is printed
range(10)

#in many ways, the object returned by range behaves as if it is a list but in
#fact it isnt. It is an object which returns the successive items of the
#desired squence when iterated over but doesnt really make the list

range(0, 10)

In [ ]:
#break and continue
for n in range(2, 20):
    for x in range(2, n):
        if n % x == 0:
            print(f"{n} equals {x} * {n//x}")
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')
        continue

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3
10 equals 2 * 5
11 is a prime number
12 equals 2 * 6
13 is a prime number
14 equals 2 * 7
15 equals 3 * 5
16 equals 2 * 8
17 is a prime number
18 equals 2 * 9
19 is a prime number

In [ ]:
#match statement takes an expression and compares its value to successive pattern
#given as one or more case blocks (same as switch statment)

userInput : str = input("Do you know Python programming language? ");
match userInput:
  case 'yes':
    print("Great! Welcome to our community");
  case 'no':
    print("You should have prior python knowledge to join our community");
  case _: #act as wildcard and never fails to match. If no case matches, none
          #of the branches is executed
    print("Something is wrong with the loop")

Do you know Python programming language? yes
Great! Welcome to our community

### Functions

In [ ]:
def addition(num1: int, num2: int)->int:
  '''A function that adds two number''' #optional string literals that is used
                                        #function documentation
  return num1 + num2;

print(addition(10, 25))

35

In [ ]:
def fibonnaci(n):
  '''Function to create fibonnaci series'''
  result = [];
  a: int = 0;
  b: int = 1;
  while a < n:
    result.append(a);
    a, b = b, a + b;
  return result

print(fibonnaci(100));

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
#default arguments
def studentInfo(name: str, age: int, location: str= 'Peshawar'): #default value of Peshawar
  print(f'Student Name: {name}');
  print(f'Student Age: {age}');
  print(f"Location: {location}");

studentInfo('Maaz', 25)
studentInfo('Khan', 30,'Islamabad')

Student Name: Maaz
Student Age: 25
Location: Peshawar
Student Name: Khan
Student Age: 30
Location: Islamabad

-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !

In [ ]:
#kwargs and args

def exampleFunction (*args, **kwargs):
  print(f"Positional Arguments (args): {args}"); #collects positional arguments into a tuple
  print(f"Keyword arguments (kwargs): {kwargs}"); #collects keyword arguments into a dictionary

exampleFunction(1, 2, 3, name='Maaz', age=25);
exampleFunction('Hello', 25, location = 'Islamabad', amount = 1000);

Positional Arguments (args): (1, 2, 3)
Keyword arguments (kwargs): {'name': 'Maaz', 'age': 25}
Positional Arguments (args): ('Hello', 25)
Keyword arguments (kwargs): {'location': 'Islamabad', 'amount': 1000}

In [ ]:
# for passing arbitary number of arguments
def concat(*args, sep='/'):
  return sep.join(args)

concat('earth', 'mars', 'venus')

'earth/mars/venus'

In [ ]:
#lambda functions
'''
Syntax of lambda function: lambda arguments: expression
'''

add_lambda = lambda x, y : x + y;
print(add_lambda(1, 2))

#simple lambda exercise
from typing import List

numberList : List[int] = [1, 2, 3, 4, 5];
square_lambda = list(map(lambda x: x**2, numberList))
print(square_lambda)

#another simple lambda exercise
cube_lambda = list(map(lambda x: x**3, numberList))
print(cube_lambda)

#lambda function to filter out even number
numberList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
even_lambda = list(filter(lambda x: x % 2 == 0, numberList))
print(even_lambda)

3
[1, 4, 9, 16, 25]
[1, 8, 27, 64, 125]
[2, 4, 6, 8, 10]

### List comprehension

In [ ]:
'''
new_list = [expression for item in iterable if condition]

expression = value to be included in new list
item = the variable that takes the value of each element in the interable
condition = optional condition that filters out which items are included in new list
'''

square : List[int] = [x**2 for x in range(10)]
print(square)

numbers : List[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
even_numbers : List[int] = [x for x in numbers if x % 2 == 0]
print(even_numbers)

odd_numbers : List[int] = [x for x in numbers if x%2 != 0];
print(odd_numbers)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

### Tuple

In [ ]:
#immutbale and heterogenous sequence of elements

from typing import Tuple

emptyTuple : Tuple[()] = (); #empty tuple
singleItemTuple : Tuple[int] = (1)
exampleTuple : Tuple[int, str, int] = ('Maaz', 25, 'AI Developer');
print(exampleTuple[0])

Maaz

### Set

In [ ]:
#unordered collection with no duplicates with basic use include membership test etc

from typing import Set

emptySet : Set[None] = {}
print(emptySet)

exampleSet : Set[str] = {'a', 'b', 'c', 'd', 'a', 'b', 'e'}
print(exampleSet)

uniqueCharacters : Set[str] = set('Mian Maaz Ullah Khan')
print(uniqueCharacters)

{}
{'c', 'a', 'd', 'e', 'b'}
{'l', 'a', 'z', ' ', 'h', 'M', 'K', 'n', 'i', 'U'}

### Dictionaries

In [ ]:
from typing import Dict

personalInfo : Dict[str, str] = {'name':'Maaz', 'age':'25', 'location':'Peshawar'}
print(personalInfo)
print(personalInfo['name'])
print(list(personalInfo))
score : Dict[str, int] = dict([('Real Mardid', 2), ('Man Utd', 4)])
print(score)

{'name': 'Maaz', 'age': '25', 'location': 'Peshawar'}
Maaz
['name', 'age', 'location']
{'Real Mardid': 2, 'Man Utd': 4}

## Classes
Allows you to create user-defined data structures

In [ ]:
class MyClass:
  pass #placeholder indicating where code will eventually go

'hello World'

In [ ]:
class Dog:
  """A simple attempt to model a Dog"""

  species: str = 'Canis Familiaris' #class attributes (one which have same value for all class instances)

  def __init__(self, name: str, age: int): #constructor
  #use to define properties that all Dog objects must have.
    self.name = name; #creates an attribute name and assigns the value of name parameter to it
                      #also called instance attributes
    self.age = age;

Dog('Max', 5) #instaniate class Dog
#the 0x...... is memory address of Dog object

In [ ]:
#every new Dog instance will be assigned to different address
a = Dog('Max', 5)
b = Dog('Max', 5)
a == b

False

In [ ]:
max: Dog = Dog('Max', 5)
print(max.name)
print(max.age)
print(max.species)

max.age = 3; #you can change the class attributes value dynamically
print(max.age)

max.species = 'Alaskan Husk'
print(max.species)

Max
5
Canis Familiaris
3
Homo

In [ ]:
#instance method are function defined inside a class and can call on an instance of that class
#can access and modify the instance attributes

class Dog:

  species: str = 'Canis Familiaris'

  def __init__(self, name: str, age: int):
    self.name = name;
    self.age = age;

  def description(self): #instance method
    return f"{self.name} is {self.age} years old"

max: Dog = Dog('Max', 4);
print(max.description())

Max is 4 years old

In [ ]:
class Car:

  def __init__(self, color: str, mileage: int):
    self.color = color;
    self.mileage = mileage;

  def description(self):
    return f"The {self.color} car has {self.mileage} miles"

toyota: Car = Car('blue', 20_000);
print(toyota.description())

The blue car has 20000 miles

### Inheritance
The process by which one class takes on the attribute and methods of another

In [ ]:
#Inheritance is the process by which one class takes on the attributes and methods of another

class Parent:
  hair_color : str = 'Brown';

class Child(Parent):
  hair_color = 'Black'

In [ ]:
from typing import List
class Parent:
  speaks : List[str] = ['English'];

class Child:
  def __init__(self):
    super().__init__(); #imports the constructor attributes of parent class to child class
    self.speaks.append("German")

In [ ]:
class Dog:
  species: str = 'Canis Familiaris';

  def __init__(self, name: str, age: int):
    self.name = name;
    self.age = age
  def __str__(self):
    return f"{self.name} is {self.age} years old";
  def speak(self, sound: str):
    return f"{self.name} says {self.sound}"

class Bulldog(Dog):
  pass;

class JackRussellTerrier(Dog):
  def speak(self, sound = 'Arf'):
    return f"{self.name} says {sound}"

jack: JackRussellTerrier = JackRussellTerrier('jack', 3);
isinstance(jack, Dog) #check if jack is an istance of class Dog
isinstance(jack, JackRussellTerrier)
isinstance(jack, Bulldog)

False

# **Python OOps**

Each python class definition has an implicit superclass **object**. When we define our own class, '*object*' is the super class

In [ ]:
#The example illustrates a class example that simply extends 'object' with new
# name
class X:
  pass

print(X.__class__) #type class
print(X.__class__.__base__) #base class of the newly created class is class
                            #named 'object'

<class 'type'>
<class 'object'>

The superclass of all classes, *object* has default implementation of *__init__* that amount to pass. We aren't required to implement and if dont, no instance will be creatd, which in some cases is acceptable. However, it is best practice to avoid such implementation as it causes confusion.

In [ ]:
class Rectangle:
  #no __init__ method, no initialisation
  #same as

  #def __init__(self):
  # pass

  def area(self)-> float:
    return self.length * self.width

rec: Rectangle = Rectangle()
rec.length, rec.width = 13, 8
rec.area()

104

We intialise an object by implementing **___ init_ __( )** method. Python first creates an empty object and then calls the __init__ mehtod to set the state of the new object

In [ ]:
#this code demonstrate a basic use of class inheritance and method overriding
#in Python to model different type of cards in game
#Also shows example of polymorphism

from typing import Tuple

class Card:#superclass
  def __init__(self, rank: str, suit: str) -> None:
    #Common initialisation in the superclass applies to the two subclasses
    self.suit = suit
    self.rank = rank
    self.hard, self.soft = self._points()
  def _points(self) -> Tuple[int, int]:
    return int(self.rank), int(self.rank)

class AceCard(Card):#basic variation of superclass Card
  def _points(self) -> Tuple[int, int]:
    return 1, 11

class FaceCard(Card): #basic variation of superclass Card
  def _points(self) -> Tuple[int, int]:
    return 10, 10

In Python, **factory class** is a class responsible for the creating and returning instances of the other classes. The idea is to have a class (the factory) that handles the the creation of the object, encapsulating the instantiation process. Thus, provides a clean and consistent way to create instances (object). The ***purpose*** of the factory class is to keep the process of creating objects separate from the code that needs those objects

In [ ]:
class Dog:
  def speak(self)-> str: #speak method that returns the animal sound
    return "Woof"


class Cat:
  def speak(self)-> str: #polymorphed speak method that returns the animal sound
    return "Meow"


class AnimalFactory: #facatory class
  def create_animal(self, animal_type: str): #takes animal type and returns an instance
                                            #of the corresponding animal class
    if animal_type == 'dog': #if animal is dog, return Dog class instance
      return Dog()
    elif animal_type == 'cat': #if animal is cat, return Cat class instance
      return Cat()
    else:
      raise ValueError('Invalid animal type')

factory: AnimalFactory = AnimalFactory() #factory class instance
dog_instance = factory.create_animal('dog')
cat_instance = factory.create_animal('cat')

print(f"Dog Instance: {dog_instance}")
print(f"Cat Instance: {cat_instance}")

Dog Instance: <__main__.Dog object at 0x7ac5c2cf3a00>
Cat Instance: <__main__.Cat object at 0x7ac5c2cf2ad0>

A **real life analogy** for **factory class** concept would be that you are at a fast-food resturant and you want a burger. Instead of going into the kitchen and making the burger yourself, you simply go to the counter and tell the cashier that you want a burger. </br>
In this analogy:
- You are the client
- Cashier is the factory (You tell them what you want *(request an object)* and they handle the process of creating it *(making the burger)*)
- Burger is the object

In programming, the idea would be:
- Client is your code (It wants an object but doesnt want to deal with the details of how it is created)
- Factroy class is like cashier (It is a separate class that knows how to create objects based on the client needs)
- Object is what the client wants

In [ ]:
class Shape:
  def draw(self):
    pass

class Square(Shape):
  def draw(self):
    return "Drawing a square"

class Circle(Shape):
  def draw(self):
    return "Drawing a circle"

class ShapeFactory:
  def shape_created(self, shape_type): #factory function which is responsible
  #for creating and returning a particular type or class
    if shape_type == 'square':
      return Square()
    elif shape_type == 'circle':
      return Circle()
    else:
      ValueError('Invalid shape type')

factory_class = ShapeFactory()

circle_object = factory_class.shape_created('circle')
square_object = factory_class.shape_created('square')
rectangle_obect = factory_class.shape_created('rectange')

print(f"Circle object: {circle_object}")
print(f"Square object: {square_object}")
#print(f"Rectangle object: {rectangle_object}") #this will raise error

Circle object: <__main__.Circle object at 0x7ac5c2cf3040>
Square object: <__main__.Square object at 0x7ac5c2cf2b60>

When inherutubg classes, we have to use and inherit the properties of superclass (parent class)

In [ ]:
class Vehicle: #parent class
  def __init__(self, brand: str): #constructor of parent class
    self.brand = brand #instance properties of the parent class
  def display_info(self):#instance method of the parent class
    print(f"Vehicle model: {self.brand}")

class Car(Vehicle): #child class of Vehicle class
  def __init__(self, brand: str, model: str): #child class constructor
    super().__init__(brand) #inheriting the instance properties of the parent class
    self.model = model #child class instance properties

  def display_info(self): #overriding the display method of the parent class
      print(f"Car brand: {self.brand}. Car model: {self.model}")

car = Car("Toyota", "Prius") #object of child class
car.display_info()

Car brand: Toyota. Car model: Prius

In python, a **composite object** is an object that is made up of or composed of other objects. It is also called **container**

In [ ]:
# Define the Player class
class Player:
    def __init__(self, name, position):
        self.name = name
        self.position = position

# Define the Team class, which is a composite object that contains a list of
#Player class objects
class Team:
    def __init__(self, team_name):
        self.team_name = team_name
        self.players = []  # List to store Player objects

    def add_player(self, player):
        self.players.append(player)

    def display_team_info(self):
        print(f"Team: {self.team_name}")
        print("Players:")
        for player in self.players:
            print(f"- {player.name}, Position: {player.position}")

# Create individual Player objects
player1 = Player("Alice", "Forward")
player2 = Player("Bob", "Midfield")
player3 = Player("Charlie", "Defense")

# Create a Team object and add players
soccer_team = Team("Red Rockets")
soccer_team.add_player(player1)
soccer_team.add_player(player2)
soccer_team.add_player(player3)

# Display team information
soccer_team.display_team_info()

Team: Red Rockets
Players:
- Alice, Position: Forward
- Bob, Position: Midfield
- Charlie, Position: Defense

To design a collection of objects, we have the following three general design strategies:
- **Wrap**:
  - This design pattern surrounds an existing collection with a simplified interface
- **Extend**:
  - This design pattern starts with an existing collection and extends it to add features
- **Invent**:
  - This is desgined from scratch

**Wrapping collection class** strategy refers to the concept of creating a new class that wraps or contain an existing collection class. <br/>
* Collection class is a class that is designed to hold and manage a collection of items

In [4]:
class ListStatistics: # original collection class
    def __init__(self, numbers): #initiate the class with list of numbers
        self.numbers = numbers

    def get_min(self): # instance method that finds minimum of the list numbers
        return min(self.numbers)

    def get_max(self): # instance method the finds maximum of the list numbers
        return max(self.numbers)

class ModifiedListStatistics: # wrapps the original collection class (ListStatistics)
    def __init__(self, original_statistics): # initiate the class with the instance of
                                            # original collection class (ModifiedListStatistics)
        self.original_statistics = original_statistics

    def get_min(self):
        return self.original_statistics.get_min()

    def get_max(self):
        return self.original_statistics.get_max()

    def compute_average(self): #additional method of the wrapper class
        return sum(self.original_statistics.numbers) / len(self.original_statistics.numbers)


original_statistics = ListStatistics([10, 5, 8, 15, 12]) #object of original collection class
modified_statistics = ModifiedListStatistics(original_statistics) # object of
                                            # wrapper class

# Display min and max from the original class
print(f"Min: {original_statistics.get_min()}, Max: {original_statistics.get_max()}")

# Display min, max, and average from the modified class
print(f"Min: {modified_statistics.get_min()}, Max: {modified_statistics.get_max()}, Average: {modified_statistics.compute_average()}")

Min: 5, Max: 15
Min: 5, Max: 15, Average: 10.0

**Extending class strategy** design strategy involves creating a new class that inherits from an existing collection class to add or override its functionality. This allows to extend behavior of original class without modifying its code directly.

In [7]:
# Original collection class
class Counter:
    def __init__(self, elements):
        self.elements = elements

    def count_occurrences(self):
        occurrence_count = {}
        for element in self.elements:
            occurrence_count[element] = occurrence_count.get(element, 0) + 1
        return occurrence_count

# Extended class with additional functionality
class UniqueCounter(Counter):
    def count_unique_occurrences(self):
        unique_occurrences = {}
        for element, count in self.count_occurrences().items():
            if count == 1:
                unique_occurrences[element] = 1
        return unique_occurrences

# Usage
original_counter = Counter([1, 2, 3, 1, 2, 4, 5])
unique_counter = UniqueCounter([1, 2, 3, 1, 2, 4, 5])

# Display occurrences from the original class
print("Occurrences:", original_counter.count_occurrences())

# Display unique occurrences from the extended class
print("Unique Occurrences:", unique_counter.count_unique_occurrences())

TypeError: Counter.__init__() missing 1 required positional argument: 'elements'